<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/admin.css">
</head>
<body>
    <aside>
        <ul>
            <li>Home</li>
            <li>Customers</li>
            <li>Riders</li>
            <li>Orders</li>
            <li>Suppliers</li>
            <li>Products</li>
        </ul>
    </aside>
    <main>
        
    </main>

</body>
</html>