<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="dashboard">
        <div class="cards-box">
            <div class="food_card">
                <a href="food.html">
                <img src="/static/images/food_card.jpg" alt="Overlay Image">
                <h1>Food</h1>
                </a>
            </div>

            <div class="drinks_card">
                <a href="drinks.html">
                <img src="/static/images/drinks_card.jpg" alt="Overlay Image">
                <h1>Drinks</h1>
                </a>
            </div>

            <div class="groceries_card">
                <a href="groceries.html">
                <img src="/static/images/groceries.jpg" alt="Overlay Image">
                <h1>Groceries</h1>
                </a>
            </div>
           
            <div class="cakes_card">
                <a href="cakes.html">
                <img src="/static/images/cakes_card.jpg" alt="Overlay Image">
                <h1>Cakes and Pastries</h1>
                </a>
            </div>

            <div class="supermarket_card">
                <a href="supermarket.html">
                <img src="/static/images/supermarket_card.jpg" alt="Overlay Image">
                <h1>Supermarket</h1>
                </a>
            </div>

            <div class="gas_card">
                <a href="gas.html">
                <img src="/static/images/gas_card.jpg" alt="Overlay Image">
                <h1>Gas</h1>
                </a>
            </div>
        </div>

    </div>
</body>
</html>