<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
</head>
<body>
    <div>
        <aside>
            <form>
                <div>
                    <label for="category">Choose a category</label>
                    <select id="category">
                        <option selected>All</option>
                        <option>Food</option>
                        <option>Supermarket</option>
                        <option>Butchery</option>
                        <option>Groceries</option>
                        <option>Cakes</option>
                        <option>Gas</option>
                    </select>
                </div>
                <div>
                    <label for="searchTerm">Name of product:</label>
                    <input type="text" id="searchTerm" placeholder="product name">
                </div>
                <div>
                    <button type="button">Filter Results</button>
                </div>
            </form>
        </aside>
        <main>
            
        </main>
    </div>
    <script src="/static/js/main.js"></script>
</body>
</html>