<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WiShop</title>
        <link rel="stylesheet" href="static/style.css">
        <script src="https://kit.fontawesome.com/fb8b184c93.js" crossorigin="anonymous"></script>

    </head>
    <body>
        <div class="container">
            <div class="form-box">
                <h1 id="title">Sign Up</h1>
                <form action="/login" method="post">
                    <div class="input-group">
                        <div class="input-field">
                            <i class="fa-regular fa-user"></i>
                            <input type="text" name="customer_name" placeholder="Name">
                        </div>

                        <div class="input-field">
                            <i class="fa-regular fa-user"></i>
                            <input type="email" name="email" placeholder="email">
                        </div>

                        <div class="input-field" id="phoneNumber">
                            <i class="fa-solid fa-phone"></i>
                            <input type="text" name="phone_number" placeholder="Phone number">
                        </div>

                        <div class="input-field">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                        
                    </div>
                    {% if error %}
                        <div>
                            <p>{{ error }}</p>
                        </div>
                    {% endif %}
                    <div class="button-field">
                        <button type="button" id="signupBtn">Sign up</button>
                        <button type="button" id="signinBtn" class="disable">Sign in</button>
                    </div>


                    <div class="button-field submit">
                        <button type="submit" >Submit</button>
                    </div>
                    <p>Forget password? <a href="#">Click Here!</a></p>
                </form>

            </div>

        </div>
        <script>
            let signupBtn = document.getElementById("signupBtn");
            let signinBtn = document.getElementById("signinBtn");
            let phoneNumber = document.getElementById("phoneNumber");
            let title = document.getElementById("title");

            signinBtn.onclick = function(){
                phoneNumber.style.maxHeight = "0";
                title.innerHTML = "Sign In";
                signupBtn.classList.add("disable");
                signinBtn.classList.remove("disable");
            };

            signupBtn.onclick = function(){
                phoneNumber.style.maxHeight = "60px";
                title.innerHTML = "Sign Up";
                signupBtn.classList.remove("disable");
                signinBtn.classList.add("disable");
            };
    



        </script>
    </body>
</html>